button {
  outline: none;
  border: none;
}

form {
  margin: 0;
}

.btn {
  text-transform: uppercase;
  background-color: $success;
  border-color: $success;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);

  &:hover {
    background-color: $success;
    border-color: $success;
    box-shadow: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);
    //background-color: $success;
    //border-color: $success;

    &:focus {
      @include box-shadow($btn-active-box-shadow);
    }
  }
}
