
.header {
  overflow: hidden;
  position: relative;
  background: white;

  @include media-breakpoint-up(sm) {

  }
  @include media-breakpoint-up(md) {

  }
  @include media-breakpoint-up(lg) {

  }
  @include media-breakpoint-up(xl) {

  }

  &__main {
    //height: 96px;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__side {
    display: flex;
    align-items: center;
    height: 96px;
  }

  &__profile {
    height: 96px;
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center;
    margin-left: 39px;

    li {
      width: 130px;
      border-left: 1px solid $lighter;

      &:last-child {
        border-right: 1px solid $lighter;
      }
    }

    &__cell {
      display: block;
      height: 100%;
      padding-top: 27px;
    }

    &__icon {
      display: inline-block;
      height: 29px;
      position: relative;
      fill: $dark;
    }

    &__circle {
      position: absolute;
      top: -8px;
      right: -17px;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      text-align: center;
      background-color: $success;
      color: white;
      font-size: 12px;
      line-height: 25px;
    }

    a {
      color: $dark;
    }

    p {
      margin: 9px 0px 0px 0px;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
    }
  }

  &__link {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 15px;
    letter-spacing: 0.5px;

    li {
      display: inline-block;
      margin-right: 36px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: $dark;
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
  }

  &__info {

  }

  &__nav {
    height: 60px;
    background-color: $light;
    border-top: 1px solid $lighter;
    border-bottom: 1px solid $lighter;
  }
}
