
.modal {
  .close {
    position: absolute;
    z-index: 1;
    top: 24px;
    right: 34px;
    font-size: 40px;
    font-weight: 400;
  }
}

.modal-dialog {
  width: 100%;
  max-width: 1000px;
}

.modal-content {
  border-radius: 0px;
  box-shadow: none;
}

.modal-body {
  padding: 35px;
}
