
.main-search {
  padding: 74px 0px 53px 0px;

  &__title {
    margin-bottom: 44px;
  }

  &__wrapper {

  }

  &__content {
    display: inline-block;
    vertical-align: top;
    padding: 8px 8px 7px 8px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    color: $dark;
    //line-height: 48px;

    .form-group {
      margin-bottom: 0;
    }
  }

  &__input {
    height: 49px;

    &__wrapper {
      padding-left: 5px;
      padding-right: 5px;
      width: 571px;
    }
  }

  &__btn {
    padding-left: 2px;
    padding-right: 5px;

    & > span, & > p {
      padding: 0px 7px;
    }

    .btn {
      height: 100%;
      width: 167px;
      letter-spacing: 1px;
      font-size: 0.9rem;
      font-weight: bold;
    }
  }

  &__partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
    margin-top: 50px;

    li {
      display: inline-block;
    }

    img {

    }
  }
}
