
.sidr {
  button {
    display: none;
  }

  .sidr-class-dropdown__btn {
    padding: 0px 15px;
  }
}

.slick-slider {
  .slick-slide {
    outline: none;
  }

  .slick-arrow {

    &:after, &:before {

    }

    &.slick-prev {
    }

    &.slick-next {
    }
  }
}
