h1, .h1 {
  font-size: $h1-font-size;
  letter-spacing: 0.3px;
  color: $dark;
}
h2, .h2 {
  font-size: $h2-font-size;
  letter-spacing: 0.5px;
  color: $dark;
}
h3, .h3 {
  font-size: $h3-font-size;
  letter-spacing: 0.3px;
  color: $dark;
}
h4, .h4 {
  font-size: $h4-font-size;
  letter-spacing: 0.3px;
  color: $dark;
}
h5, .h5 {
  font-size: $h5-font-size;
  letter-spacing: 0.3px;
  color: $dark;
}
h6, .h6 {
  font-size: $h6-font-size;
  letter-spacing: 0.3px;
  color: $dark;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: $dark;
}